nav{
    background: #656865;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.link{
    font-size: 26px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

.link:hover{
    color: #060331cc;
    font-size: larger;
}